body{
    padding: 0;
    margin: 0;
}
.blog{
    background-color: hsl(47, 88%, 63%);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.firstdiv{
    background-color: white;
    width: 23vw;
    height: 55vh;
    border: 1px solid black;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.firstcolumn{
    width: 23vw;
    height: 29vh;
    border-radius: 10px;
}
.learning{
    font-size: 12px;
    color: black;
    background-color:  hsl(47, 88%, 63%);
    font-weight: 700;
    height: 3vh;
    width: 5vw;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
}
.published{
    font-weight: 500;
    margin-bottom: 15px;
}
.html{
    font-weight: 800;
    font-size: 20px;
}